<div class="index">
<h1><%= @robot["name"] %></h1>
<img class="image" src="https://robohash.org/<%= @robot['name'] %>.png">
<p>City</p>
<h3><%= @robot["city"] %></h3>
<p>State</p>
<h3><%= @robot["state"] %></h3>
<p>Department</p>
<h3><%= @robot["department"] %></h3>
<a href="/">Go Back To All The Bots</a>
</div>
